@tailwind base;
@tailwind components;
@tailwind utilities;

.TheJansil{
  font-family: 'TheJansil';
}


@layer components {
  .darkMode {
    @apply dark:border-[#3b3b3b] dark:bg-[#292929] dark:text-[#d9d9d9];
  }
}

@font-face {
    font-family: 'TheJansil';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'BookMyungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body{
  background-color: #f7f8f9;
}
.dark body{background-color: #333;}
.BookMyungjo{
  font-family: 'BookMyungjo';
}
.jalnan{
  font-family: 'jalnan';
}
.Pretendard{
  font-family: 'Pretendard';
}